<div class="modal-header">
    <h4>Редактировать класс</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset [disabled]="isSubmitting">
            <input type="hidden" formControlName="id" />
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('name').touched && 
                form.get('name').dirty && 
                form.get('name').invalid}">
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="Название класса" [ngClass]="{'has-danger': 
                    form.get('name').touched && 
                    form.get('name').dirty && 
                    form.get('name').invalid
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('name').touched && 
                    form.get('name').dirty && 
                    form.get('name').invalid">Введите название</div>
            </fieldset>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success float-right" [disabled]="!form.valid">Сохранить</button>
    </div>
</form>