<div class="modal-header">
    <h4>Добавить сотрудника</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('name').touched && 
                form.get('name').dirty && 
                form.get('name').invalid
            }">
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="ФИО сотрудника" [ngClass]="{'has-danger': 
                    form.get('name').touched && 
                    form.get('name').dirty && 
                    form.get('name').invalid
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('name').touched && 
                    form.get('name').dirty && 
                    form.get('name').invalid">Введите ФИО</div>
            </fieldset>

            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('job').touched && 
                form.get('job').dirty && 
                form.get('job').invalid}">
                <input formControlName="job" type="text" class="form-control" id="job" placeholder="Должность сотрудника" [ngClass]="{'has-danger': 
                    form.get('job').touched && 
                    form.get('job').dirty && 
                    form.get('job').invalid
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('job').touched && 
                    form.get('job').dirty && 
                    form.get('job').invalid">Введите должность</div>
            </fieldset>

            <fieldset class="form-group">
                <ss-multiselect-dropdown [options]="boxes" formControlName="boxes" [texts]="{
                    'defaultTitle': 'Выберите боксы'
                }" [settings]="{
                    'dynamicTitleMaxItems': 10
                }"></ss-multiselect-dropdown>
            </fieldset>

            <fieldset class="form-group">
                <div class="input-group">
                    <input type="text" id="startDate" class="form-control" placeholder="Дата трудоустройства" formControlName="startDate" ngbDatepicker
                        #d="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" (blur)="validateDate(); d.close();">
                    <div class="input-group-addon" (click)="d.toggle()">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </fieldset>

        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success float-right" [disabled]="!form.valid">Добавить</button>
    </div>
</form>