<div class="modal-header">
    <h4>Регистрация</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('name').touched && 
                form.get('name').dirty && 
                form.get('name').invalid}">
                <label for="name">Ваше имя</label>
                <input formControlName="name" type="text" class="form-control" id="name" [ngClass]="{'has-danger': 
                    form.get('name').touched && 
                    form.get('name').dirty && 
                    form.get('name').invalid
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('name').touched && 
                    form.get('name').dirty && 
                    form.get('name').invalid">Введите имя</div>
            </fieldset>
            
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('email').touched && 
                form.get('email').dirty && 
                form.get('email').invalid}">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" [ngClass]="{'has-danger': 
                    form.get('email').touched && 
                    form.get('email').dirty && 
                    form.get('email').invalid
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('email').touched && 
                    form.get('email').dirty && 
                    form.get('email').invalid">Некорректный email</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': errorMessage, 'has-success': isSuccess}">
                <input type="hidden" class="form-control" id="error" [ngClass]="{
                    'form-control-danger': errorMessage, 
                    'form-control-success': isSuccess
                }" />
                <div class="form-control-feedback" *ngIf="isSuccess">Компания успешно зарегистрирована. В течение 5 минут на почту придет пароль от личного кабинета.</div>
                <div class="form-control-feedback" *ngIf="errorMessage">{{errorMessage}}</div>
            </fieldset>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary float-right" [disabled]="!form.valid">Регистрация</button>
    </div>
</form>

