<div class="body-container">
    <h6>Машины</h6>
    <hr />
    <div class="row">
        <div class="col-4" *ngFor="let classObj of classes" style="margin-bottom:20px;">
            <div class="card">
                <div class="card-header">
                    {{classObj.name}}
                </div>
                <div class="card-block padding-10" id="{{classObj.id}}" [dragula]='"bag-one"'>
                    <div class="car-item" *ngFor="let car of cars | filterByClass:classObj.id" id="{{car.id}}">
                        <div class="pull-left">{{car.brand + ' ' + car.model}}</div>
                        <div class="pull-right">
                            <a (click)="edit(car)"><img src="./assets/img/icon_edit.svg" /></a>
                            <a (click)="remove(car)"><img src="./assets/img/icon_remove.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" *ngIf="carsExistWithoutClass">
            <div class="card">
                <div class="card-header">
                    Без класса
                </div>
                <div class="card-block padding-10" id="withoutClass" [dragula]='"bag-one"'>
                    <div class="car-item" *ngFor="let car of cars | withoutClass" id="{{car.id}}">
                        <div class="pull-left">{{car.brand + ' ' + car.model}}</div>
                        <div class="pull-right">
                            <a (click)="edit(car)"><img src="./assets/img/icon_edit.svg" /></a>
                            <a (click)="remove(car)"><img src="./assets/img/icon_remove.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-default float-right" (click)="add()">Добавить машину</button>
        </div>
    </div>