<div class="modal-header">
    <h4>Редактировать машину</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset>
            <input type="hidden" formControlName="id" />
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls.brand.touched && form.controls.brand.dirty && form.controls.brand.invalid}">
                <input formControlName="brand" type="text" class="form-control" id="brand" placeholder="Марка машины" [ngClass]="{
                    'has-danger': form.controls.brand.touched && form.controls.brand.dirty && form.controls.brand.invalid
                }" />
                <div class="form-control-feedback" *ngIf="form.controls.brand.touched && form.controls.brand.dirty && form.controls.brand.invalid">Введите марку машины</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls.model.touched && form.controls.model.dirty && form.controls.model.invalid}">
                <input formControlName="model" type="text" class="form-control" id="model" placeholder="Модель машины" [ngClass]="{
                    'has-danger': form.controls.model.touched && form.controls.model.dirty && form.controls.model.invalid
                }" />
                <div class="form-control-feedback" *ngIf="form.controls.model.touched && form.controls.model.dirty && form.controls.model.invalid">Введите модель машины</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls.classId.touched && form.controls.classId.dirty && form.controls.classId.invalid}">
                <select class="form-control" formControlName="classId">
                    <option *ngFor="let classObj of classes" [ngValue]="classObj.id">
                        {{classObj.name}}
                    </option>
                </select>
                <div class="form-control-feedback" *ngIf="form.controls.classId.touched && form.controls.classId.dirty && form.controls.classId.invalid">Выберите класс машины</div>
            </fieldset>

        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success float-right" [disabled]="!form.valid">Сохранить</button>
    </div>
</form>