<div class="modal-header">
    <h4>Жду звонка</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls.name.touched && form.controls.name.dirty && form.controls.name.invalid}">
                <label for="name">Ваше имя</label>
                <input formControlName="name" type="text" class="form-control" id="name" [ngClass]="{
                    'has-danger': form.controls.name.touched && form.controls.name.dirty && form.controls.name.invalid
                }" />
                <div class="form-control-feedback" *ngIf="form.controls.name.touched && form.controls.name.dirty && form.controls.name.invalid">Введите имя</div>
            </fieldset>
            
            <fieldset class="form-group" [ngClass]="{'has-danger': form.controls.phone.touched && form.controls.phone.dirty && form.controls.phone.invalid}">
                <label for="phone">Телефон</label>
                <input formControlName="phone" type="phone" class="form-control" id="phone" [ngClass]="{
                    'has-danger': form.controls.phone.touched && form.controls.phone.dirty && form.controls.phone.invalid
                }" />
                <div class="form-control-feedback" *ngIf="form.controls.phone.touched && form.controls.phone.dirty && form.controls.phone.invalid">Введите номер телефона</div>
            </fieldset>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary float-right" [disabled]="!form.valid">Отправить</button>
    </div>
</form>