<div class="modal-header">
    <h4 class="modal-title">Вход</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('email').touched && 
                form.get('email').dirty && 
                form.get('email').invalid}">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" [ngClass]="{'form-control-danger': 
                    form.get('email').touched && 
                    form.get('email').dirty && 
                    form.get('email').invalid 
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('email').touched && 
                    form.get('email').dirty && 
                    form.get('email').invalid">Некорректный email</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('password').touched && 
                form.get('password').dirty && 
                form.get('password').invalid}">
                <label for="password">Пароль</label>
                <input formControlName="password" type="password" class="form-control" id="password" [ngClass]="{'has-danger': 
                    form.get('password').touched && 
                    form.get('password').dirty && 
                    form.get('password').invalid
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('password').touched && 
                    form.get('password').dirty && 
                    form.get('password').invalid">Введите пароль</div>
            </fieldset>
            <fieldset class="form-group">
                <a (click)="restorePassword()">Забыли пароль?</a>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': errorMessage}">
                <input type="hidden" class="form-control" id="error" [ngClass]="{'form-control-danger': errorMessage}" />
                <div class="form-control-feedback" *ngIf="errorMessage">{{errorMessage}}</div>
            </fieldset>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary float-right" [disabled]="!form.valid">Войти</button>
    </div>
</form>