<div class="modal-header">
    <h4>Добавить клиента</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset [disabled]="isSubmitting">
            <div class="row without-padding">
                <div class="col-6">
                    <fieldset class="form-group" [ngClass]="{'has-danger': 
                            form.get('name').touched && 
                            form.get('name').dirty && 
                            form.get('name').invalid}">
                        <input formControlName="name" type="text" class="form-control" id="name" placeholder="ФИО сотрудника" [ngClass]="{'has-danger': 
                                form.get('name').touched && 
                                form.get('name').dirty && 
                                form.get('name').invalid
                        }" />
                        <div class="form-control-feedback" *ngIf="
                            form.get('name').touched && 
                            form.get('name').dirty && 
                            form.get('name').invalid">Введите ФИО</div>
                    </fieldset>
                    <fieldset class="form-group" [ngClass]="{'has-danger': 
                        form.get('phone').touched && 
                        form.get('phone').dirty && 
                        form.get('phone').invalid}">
                        <div class="input-group">
                            <span class="input-group-addon" id="addonPhone">+7</span>
                            <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="телефон" aria-describedby="addonPhone"
                                [ngClass]="{'has-danger': 
                                    form.get('phone').touched && 
                                    form.get('phone').dirty && 
                                    form.get('phone').invalid
                            }" />
                        </div>
                        <div class="form-control-feedback" *ngIf="
                            form.get('phone').touched && 
                            form.get('phone').dirty && 
                            form.get('phone').invalid">Введите телефон в формате 9999999999</div>
                    </fieldset>
                </div>
                <div class="col-6">
                    <fieldset class="form-group">
                        <div class="input-group">
                            <input type="text" id="birthday" class="form-control" placeholder="Дата рождения" formControlName="birthday" ngbDatepicker
                                #d="ngbDatepicker" [minDate]="{year: 1900, month: 1, day: 1}" (blur)="validateDate(); d.close();">
                            <div class="input-group-addon" (click)="d.toggle()">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <input formControlName="discount" type="number" class="form-control" id="discount" placeholder="Скидка" />
                    </fieldset>
                </div>
            </div>

            <div formArrayName="cars">
                <div *ngFor="let car of form.get('cars')['controls']; let i = index; let last = last;">
                    <div [formGroupName]="i">
                        <div class="row without-padding">
                            <div class="col-12">Данные автомобиля</div>
                        </div>
                        <div class="row without-padding">
                            <div class="col-6">
                                <fieldset class="form-group" [ngClass]="{'has-danger':    
                                    form.get('cars').controls[i].controls.brand.touched &&
                                    form.get('cars').controls[i].controls.brand.dirty &&
                                    form.get('cars').controls[i].controls.brand.invalid 
                                }">

                                    <input formControlName="brand" type="text" class="form-control" id="brand" placeholder="Марка" [ngClass]="{'has-danger':    
                                        form.get('cars').controls[i].controls.brand.touched && 
                                        form.get('cars').controls[i].controls.brand.dirty && 
                                        form.get('cars').controls[i].controls.brand.invalid
                                    }" />
                                    <div class="form-control-feedback" *ngIf="
                                         form.get('cars').controls[i].controls.brand.touched && 
                                         form.get('cars').controls[i].controls.brand.dirty && 
                                         form.get('cars').controls[i].controls.brand.invalid">Введите марку машины</div>
                                </fieldset>

                                <fieldset class="form-group" [ngClass]="{'has-danger':    
                                    form.get('cars').controls[i].controls.classId.touched && 
                                    form.get('cars').controls[i].controls.classId.dirty && 
                                    form.get('cars').controls[i].controls.classId.invalid
                                }">
                                    <select class="form-control" formControlName="classId">
                                        <option *ngFor="let classObj of classes" [ngValue]="classObj.id">
                                            {{classObj.name}}
                                        </option>
                                    </select>
                                    <div class="form-control-feedback" *ngIf="
                                         form.get('cars').controls[i].controls.classId.touched && 
                                         form.get('cars').controls[i].controls.classId.dirty && 
                                         form.get('cars').controls[i].controls.classId.invalid">Выберите класс машины</div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <button type="button" class="btn btn-info btn-block" (click)="removeCar(i)" *ngIf="form.get('cars').controls.length > 1">Удалить машину</button>
                                </fieldset>
                            </div>
                            <div class="col-6">
                                <fieldset class="form-group" [ngClass]="{'has-danger':    
                                    form.get('cars').controls[i].controls.model.touched &&
                                    form.get('cars').controls[i].controls.model.dirty &&
                                    form.get('cars').controls[i].controls.model.invalid 
                                }">

                                    <input formControlName="model" type="text" class="form-control" id="model" placeholder="Модель" [ngClass]="{'has-danger':    
                                        form.get('cars').controls[i].controls.model.touched && 
                                        form.get('cars').controls[i].controls.model.dirty && 
                                        form.get('cars').controls[i].controls.model.invalid
                                    }" />
                                    <div class="form-control-feedback" *ngIf="
                                        form.get('cars').controls[i].controls.model.touched && 
                                        form.get('cars').controls[i].controls.model.dirty && 
                                        form.get('cars').controls[i].controls.model.invalid">Введите модель машины</div>
                                </fieldset>
                                <fieldset class="form-group" [ngClass]="{'has-danger':    
                                    form.get('cars').controls[i].controls.number.touched &&
                                    form.get('cars').controls[i].controls.number.dirty &&
                                    form.get('cars').controls[i].controls.number.invalid 
                                }">

                                    <input formControlName="number" type="text" class="form-control" id="number" placeholder="Госномер" [ngClass]="{'has-danger':    
                                        form.get('cars').controls[i].controls.number.touched && 
                                        form.get('cars').controls[i].controls.number.dirty && 
                                        form.get('cars').controls[i].controls.number.invalid
                                    }" />
                                    <div class="form-control-feedback" *ngIf="
                                        form.get('cars').controls[i].controls.number.touched && 
                                        form.get('cars').controls[i].controls.number.dirty && 
                                        form.get('cars').controls[i].controls.number.invalid">Введите госномер машины</div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <button type="button" class="btn btn-info btn-block" (click)="addCar()" *ngIf="last">Добавить машину</button>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success float-right" [disabled]="!form.valid">Добавить</button>
    </div>
</form>