<div class="body-container" *ngIf="filterForm">
    <div class="row without-padding">
        <div class="col-9">
            <h6 style="margin-top:7px;">Услуги</h6>
        </div>
        <div class="col-3">
            <form class="filter-form" [formGroup]="filterForm">
                 <select class="form-control" formControlName="id">
                    <option *ngFor="let classObj of classes" [ngValue]="classObj.id">
                        {{classObj.name}}
                    </option>
                </select> 
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Стоимость</th>
                <th>Длительность</th>
                <th>Класс автомобиля</th>
                <th>Процент работнику</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services | filterByClass:filterForm.controls.id.value">
                <td>{{service.name}}</td>
                <td>{{service.price + ' руб.'}}</td>
                <td>{{service.duration + ' мин.'}}</td>
                <td>{{service.carClass ? service.carClass.name : ''}}</td>
                <td>{{service.workerPercent + ' %'}}</td>
                <td>
                    <a (click)="edit(service)"><img src="./assets/img/icon_edit.svg" /></a>
                    <a (click)="remove(service)"><img src="./assets/img/icon_remove.svg" /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-default float-right" (click)="add()">Добавить услугу</button>
        </div>
    </div>
</div>