<div class="body-container">
    <h6>Услуги</h6>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Стоимость</th>
                <th>Длительность</th>
                <th>Класс автомобиля</th>
                <th>Процент работнику</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services">
                <td>{{service.name}}</td>
                <td>{{service.price + ' руб.'}}</td>
                <td>{{service.duration + ' мин.'}}</td>
                <td>{{service.carClass ? service.carClass.name : ''}}</td>
                <td>{{service.workerPercent + ' %'}}</td>
                <td>
                    <a (click)="edit(service)"><img src="./assets/img/icon_edit.svg" /></a>
                    <a (click)="remove(service)"><img src="./assets/img/icon_remove.svg" /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-default float-right" (click)="add()">Добавить услугу</button>
        </div>
    </div>
</div>