<div class="modal-header">
    <h4>Изменение пароля</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': form.get('oldPassword').touched && form.get('oldPassword').dirty && form.get('oldPassword').invalid}">
                <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Старый пароль" [ngClass]="{
                    'has-danger': form.get('oldPassword').touched && form.get('oldPassword').dirty && form.get('oldPassword').invalid
                }" />
                <div class="form-control-feedback" *ngIf="form.get('oldPassword').touched && form.get('oldPassword').dirty && form.get('oldPassword').invalid">Введите старый пароль</div>
            </fieldset>
            <fieldset class="form-group">
                <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Новый пароль" autocomplete="off" #password />
                <strength-meter [password]="password.value" (strength)="onStrength($event)"></strength-meter>
            </fieldset>
            <fieldset class="form-group">
                <input formControlName="confirmNewPassword" type="password" class="form-control" id="confirmNewPassword" placeholder="Подтвердите новый пароль" />
            </fieldset>
            <fieldset class="form-group" *ngIf="message" [ngClass]="{'error-container': isError, 'success-container': isSuccess}">
                {{message}}
            </fieldset>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success float-right" [disabled]="!newPasswordIsStrength || !isPasswordConfirmed || !form.valid">Изменить</button>
    </div>
</form>