<div class="body-container">
    <h6>Данные профиля</h6>
    <hr />
    <form [formGroup]="form" (ngSubmit)="submit()" style="padding: 0rem 0.75rem;" *ngIf="isFormInitied">
        <fieldset [disabled]="isSubmitting">
            <input type="hidden" formControlName="lat" />
            <input type="hidden" formControlName="lng" />

            <fieldset class="form-group">
                <input formControlName="email" type="text" class="form-control" id="email" placeholder="E-mail" readonly />
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('name').touched && 
                form.get('name').dirty && 
                form.get('name').invalid}">
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="Наименование автомойки" [ngClass]="{'form-control-danger': 
                    form.get('name').touched && 
                    form.get('name').dirty && 
                    form.get('name').invalid 
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('name').touched && 
                    form.get('name').dirty && 
                    form.get('name').invalid">Введите наименование автомойки</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('phone').touched && 
                form.get('phone').dirty && 
                form.get('phone').invalid}">
                <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="Контактный телефон" [ngClass]="{'form-control-danger': 
                    form.get('phone').touched && 
                    form.get('phone').dirty && 
                    form.get('phone').invalid 
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('phone').touched && 
                    form.get('phone').dirty && 
                    form.get('phone').invalid">Введите телефон в формате: +79999999999</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('address').touched && 
                form.get('address').dirty && 
                form.get('address').invalid}">
                <input formControlName="address" type="text" class="form-control" id="address" placeholder="Адрес автомойки" [ngClass]="{'form-control-danger': 
                    form.get('address').touched && 
                    form.get('address').dirty && 
                    form.get('address').invalid 
                }" (keyup)="addressChanged()" />
                <div class="form-control-feedback" *ngIf="
                    form.get('address').touched && 
                    form.get('address').dirty && 
                    form.get('address').invalid">Введите адрес автомойки</div>
            </fieldset>
        </fieldset>
        <fieldset class="form-group" style="margin-bottom: 0rem;">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" (click)="changeEmail()">Изменить e-mail</button>
                <button type="button" class="btn btn-secondary" (click)="changePassword()">Изменить пароль</button>
            </div>
            
            <button type="submit" class="btn btn-success float-right">Сохранить</button>
            <div class="pull-right" style="margin-top:7px; padding: 0px 15px;" *ngIf="message" [ngClass]="{'success-container': isSuccess, 'error-container': isError}">{{message}}</div>
        </fieldset>
    </form>
    <div id="map"></div>
</div>