<div class="modal-header">
    <h4>Восстановление пароля</h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
        <fieldset>
            <fieldset class="form-group" [ngClass]="{'has-danger': 
                form.get('email').touched && 
                form.get('email').dirty && 
                form.get('email').invalid}">
                <input formControlName="email" type="text" class="form-control" id="email" placeholder="E-mail" [ngClass]="{'has-danger': 
                    form.get('email').touched && 
                    form.get('email').dirty && 
                    form.get('email').invalid
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('email').touched && 
                    form.get('email').dirty && 
                    form.get('email').invalid">Введите корректный e-mail</div>
            </fieldset>
            <fieldset class="form-group" [hidden]="!isCodeSended" [ngClass]="{'has-danger': 
                form.get('tempPassword').touched && 
                form.get('tempPassword').dirty && 
                form.get('tempPassword').invalid}">
                <input formControlName="tempPassword" type="password" class="form-control" id="tempPassword" placeholder="Код подтверждения"
                    [ngClass]="{'has-danger': 
                    form.get('tempPassword').touched && 
                    form.get('tempPassword').dirty && 
                    form.get('tempPassword').invalid
                }" />
                <div class="form-control-feedback" *ngIf="
                    form.get('tempPassword').touched && 
                    form.get('tempPassword').dirty && 
                    form.get('tempPassword').invalid">Введите код подтверждения</div>
            </fieldset>
            <fieldset class="form-group" [hidden]="!isCodeSended">
                <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Новый пароль" autocomplete="off"
                    #password />
                <strength-meter [password]="password.value" (strength)="onStrength($event)"></strength-meter>
            </fieldset>
            <fieldset class="form-group" [hidden]="!isCodeSended">
                <input formControlName="confirmNewPassword" type="password" class="form-control" id="confirmNewPassword" placeholder="Подтвердите новый пароль"
                />
            </fieldset>

            <fieldset class="form-group" *ngIf="message" [ngClass]="{'error-container': isError, 'success-container': isCodeSended}">
                {{message}}
            </fieldset>
        </fieldset>
    </div>
    <div class="modal-footer">
         <button type="submit" class="btn btn-success float-right" [disabled]="(!isCodeSended && !form.valid) || (isCodeSended && (!newPasswordIsStrength || !isPasswordConfirmed || !form.valid))">Подтвердить</button> 
        <!-- <button type="submit" class="btn btn-success float-right">Подтвердить</button> -->
    </div>
</form>