<div class="body-container">
    <h6>Заказы</h6>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Дата/время</th>
                <th>Бокс</th>
                <th>Стоимость</th>
                <th>Продолжительность</th>
                <th>Услуги</th>
                <th>Исполнители</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody class="test" #tbody>
            <tr *ngFor="let order of orders">
                <td>{{getStringForDate(order.date, order.time)}}</td>
                <td>{{order.box ? order.box.name : 'Не распределено'}}</td>
                <td>{{order.price + ' руб.'}}</td>
                <td>{{order.duration + ' мин.'}}</td>
                <td>{{getStringForServices(order.services)}}</td>
                <td>{{getStringForWorkers(order.services)}}</td>
                <td>{{getStringForStatus(order.status)}}</td>
                <td>
                    <a (click)="show(order)"><i class="fa fa-search"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>