/* You can add global styles to this file, and also import other style files */
body, html{
    height:100%;
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto';
}

app-root {
    height: 100%;
}

a {
    cursor: pointer;
}

.dropdown-inline {
    height: 33px;
    width:100%;
}

.btn-secondary {
    height: 33px;
    background-color: #f2f2f2;
    font-size: 13px;
    width:100%;
    text-align: left;
}

ss-multiselect-dropdown span {
    font-size: 13px;
    color: black;
}

ngb-timepicker input {
    height: 33px;
    font-size: 13px !important;
    background-color: #f2f2f2 !important;
    border: 1px solid #e8e8e8 !important;
}


