/* You can add global styles to this file, and also import other style files */
body, html{
    height:100%;
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto';
}

app-root {
    height: 100%;
}

a {
    cursor: pointer;
}

.dropdown-inline {
    height: 33px;
}

.btn-secondary {
    height: 33px;
    background-color: #f2f2f2;
    font-size: 13px;
}


