<header>
    <div class="container-fluid">
        <div class="header">
            <div class="col-md-6 col-sm-12 col-12 logo-container">
                <a>Мойка <img src="./assets/img/logo.png"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-12 phone-container">
                <img src="./assets/img/phone.png"><a href="tel: +88002000600">8 800 2000 600</a>
            </div>
            <div class="col-md-3 col-sm-6 col-12 menu-container">
                <ul>
                    <li><a style="color: #00a8ff;">Перезвонить мне</a></li>
                    <li><a (click)="open()">Войти</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="suggest">
    <div class="container-fluid suggest-wrap">
        <div class="row">
            <div class="col-md-7 col-sm-8">
                <div class="let-start">
                    <h2 class="let-start_title title title__2">Задумались над тем, как <i class="hightlight">автоматизировать ваш бизнес?</i></h2>
                    <p class="let-start_txt">Начните вместе с нами!</p>
                    <button class="btn btn__sign btn__blue" data-toggle="modal" data-target="#Register">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="explain">
    <div class="container-fluid explain-wrap">
        <div class="row">
            <h3 class="title title__3">Поднимите ваш бизнес на <i class="hightlight">качественно новый уровень</i> с помощью программного обеспечения
                <i class="hightlight">МОЙКА24!</i></h3>
            <p class="explain_txt">Вы сможете с легкостью <b>вести управленческие расчеты, систематизировать базу клиентов,<br>
                    обрабатывать заказы, осуществлять прогнозирование продаж</b> и многое другое.<br> Это позволит вам оптимизировать
                рабочее время, увеличить производительность труда сотрудников<br> и, как следствие, <i class="hightlight">повысить ваши доходы.</i>
            </p>
            <p class="explain_txt">Программа <i class="hightlight">не требует установки</i> - вся информация загружается вами на отдельный сервер
                в облако. Все, что вам нужно сделать: подключиться к интернету, зарегистрироваться и начать работу - это
                <i class="hightlight">бесплатно.</i></p>
            <p class="explain_txt">Оплачивать услуги сервиса в размере 1000 руб. в месяц нужно лишь спустя полгода, когда убедитесь, что программное
                обеспечение действительно приносит прибыль!</p>
        </div>
    </div>
</section>
<section class="try-it">
    <div class="container-fluid try-it-wrap">
        <div class="row">
            <div class="col-sm-7">
                <div class="free-start">
                    <h2 class="free-start_title title title__2"><b>Попробуйте</b> наше программное обеспечение <b>бесплатно!</b></h2>
                    <p class="free-start_txt">Подключайтесь сейчас- платите через месяц!</p>
                    <button class="btn btn__sign btn__white" data-toggle="modal" data-target="#Register">Зарегистрироваться</button>
                </div>
            </div>
            <div class="macbook">
                <img src="http://moyka24.net/static/index/img/pic/macbook.png" alt="photo">
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="title title__2">Что мы можем предложить?</h2>
            </div>
        </div>
        <div class="row service-items">
            <div class="col-md-3 col-sm-6">
                <figure class="service-item">
                    <div class="service-item_logo"><img src="http://moyka24.net/static/index/img/icons/storage.png" alt="logo"></div>
                    <p class="service-item_title">Облачное хранение <br> и работа с базой данных</p>
                    <p class="service-item_desc">Позволяет получать доступ к информации с любого устройства и в любое время. Вы не привязаны к рабочему
                        кабинету и можете контролировать бизнес с любой точки мира, а также поручить работу с базой данных
                        своим специалистам.</p>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6">
                <figure class="service-item">
                    <div class="service-item_logo"><img src="http://moyka24.net/static/index/img/icons/crm-system.png" alt="logo"></div>
                    <p class="service-item_title">Ведение аналитики <br>с помощью нашей CRM системы</p>
                    <p class="service-item_desc">Программа полностью исключает ошибки при составлении аналитических графиков и ведет подсчеты мгновенно.
                        Вы можете отслеживать статистику, прогнозировать прибыль и вносить коррективы в работу когда угодно.
                    </p>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6">
                <figure class="service-item">
                    <div class="service-item_logo"><img src="http://moyka24.net/static/index/img/icons/paymant.png" alt="logo"></div>
                    <p class="service-item_title">Автоматическое <br>ведение и начисление <br>зарплат</p>
                    <p class="service-item_desc">Позволяет быстро, легко и безошибочно составлять ведомости, учитывать количество отработанных сотрудниками
                        часов, подсчитывать точные суммы премий или штрафов, а также взносов и отчислений в налоговую службу.
                    </p>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6">
                <figure class="service-item">
                    <div class="service-item_logo"><img src="http://moyka24.net/static/index/img/icons/update.png" alt="logo"></div>
                    <p class="service-item_title">Обновления <br> и улучшения <br>программы</p>
                    <p class="service-item_desc">Все обновления и улучшения программного обеспечения предоставляются бесплатно.<br> Вы можете не беспокоиться
                        о том, что в дальнейшем услуги сервиса резко подорожают.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="start-now">
    <div class="container-fluid start-now-wrap">
        <div class="row">
            <div class="col-7 push-5">
                <div class="start-action">
                    <h2 class="start-action_title title title__2">Начните налаживать бизнес <b>прямо сейчас!</b></h2>
                    <p class="start-action_txt">Подключайтесь сейчас - платите через месяц!</p>
                    <button class="btn btn__sign btn__white" data-toggle="modal" data-target="#Register">Начать сейчас</button>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div class="row footer-wrap">
            <div class="col-5 col-sm-4">
                <div class="logo__footer">
                    <p class="footer-brand">Мойка</p>
                </div>
            </div>
            <div class="col-7 col-sm-4 offset-sm-4">
                <div class="footer-phone">
                    <p>8 800 2000 600</p>
                    <a href="#" data-toggle="modal" data-target="#CallMe">Перезвоните мне</a>
                </div>
            </div>
        </div>
    </div>
</footer>